{{ partial "header.html" . }}

  <section>
    <h1>
      Human Settlement on TRAPPIST-1e
    </h1>
    <p>
      Seed Industries are searching for volunteers to save humanity from extinction — the Earth as we know it, is doomed — we believe our only hope is on <a href="https://en.wikipedia.org/wiki/TRAPPIST-1e">TRAPPIST-1e</a>. Funding and implementing this plan will not be easy, it will be hard. If we all work together, we can do this.
    </p>
    <h2>
      The Selection Process
    </h2>
    <p>
      Seed Industries will conduct a global search to find the best candidates for the first human mission to TRAPPIST-1e. The combined skill set of each team member must cover a very wide range of disciplines.
    </p>
    <p>
      The first phase will require 120 pioneers to explore and map the planet, establish habitable settlements, and gather resources, before the next phase of volunteers arrives. This will be the most crucial part of the mission — many will perish, but all shall be remembered as the saviours of mankind.
    </p>
  </section>

  <section>
    <h2>
      Can I apply?
    </h2>
    <p>
      Fill in your name and email, and submit your application — we will be in touch when we're ready for the first batch of volunteers.
    </p>
    {{ partial "mailchimp.html" . }}
  </section>

  <section class="about">
    <a href="/what-is-seed/">What is Seed?</a>
    <a href="/what-is-seed/"><div id="info_btn"></div></a>
  </section>
{{ partial "footer.html" . }}